<div class="header">
  <h2>Forum</h2>
</div>

  <h6>Pour créer un nouvel événement c'est <%= link_to 'ici', new_forum_path %></h6>

<%@forum.reverse_each do |f|%>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><%= f.topic %></h2>
      <div class="fakeimg" style="height:200px;">Image</div>
      <%=link_to "En voir plus", f %>
      <p></p>
    </div>
  </div></div>
<%end%>