
<%= form_for([@forum, @forum.comments.build]) do |f| %>
<fieldset>
	<div class="form-group my-title">
		<label for="exampleTextarea">Votre Commentaire</label>
		<%= f.text_area 'content', class: "form-control", style:"height: 40px; font-size: 18px;"%>
	</div></fieldset>
	<%= submit_tag "submit", class: "btn btn-primary", style:"height: 40px; font-size: 18px;" %>
	<%end%>