
<%= form_for([@forum, @forum.comments.build]) do |f| %>
<div class="col-lg-8 order-lg-2 pb-6 pb-lg-0">
	<div class="form-group mb-4">
		<label for="exampleTextarea">Votre Commentaire</label>
		<%= f.text_area 'content', class: "form-control form-control-lg"%>
	</div>



<%= submit_tag "submit", class: "btn btn-primary btn-lg px-6"%>
</div>
<br><br><br><br>
<% end %>
