<div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <h4 class="text-center"><strong>Notre parcours avant The Hacking Project</strong></h4>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
                    <%=image_tag("JB.png", :class=>"box", :class=>"rounded-circle")%>
                        <h5 class="name">Jean Baptiste DEMENET</h5>
                        <p class="title">ROR</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa... Oui je parle couramment Latin. </p>
                </div>
                <div class="col-md-6 col-lg-4 item text-center">
                    <%=image_tag("NF.png", :class=>"box", :class=>"rounded-circle")%>
                        <h5 class="name">Nazanin FARSHAD</h5>
                        <p class="title">ROR</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
                    <%=image_tag("JAB.png", :class=>"box", :class=>"rounded-circle")%>
                        <h5 class="name">Jasmine BANCHEREAU</h5>
                        <p class="title">ROR</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                    
                </div>
                <div class="col-md-6 col-lg-4 item text-center">
                    <%=image_tag("JM.png", :class=>"box", :class=>"rounded-circle")%>
                        <h5 class="name">Jean Marc DARDY</h5>
                        <p class="title">ROR</p>
                        <p class="description"> 51 ans</p>
                        <p class="description"> Approximativement 30 ans passes dans le commerce dont 7 ans comme independant. Je tente par le passage chez THP une reconversion vers les metiers du numeriques, pour devenir Chef de Projet Digital </p>
                    
                </div>
            </div>
        </div>
    </div>