<%= render 'layouts/carrousel2'%>
    <div>
    <br>
    <div class="container  mt-10 mb-15 pt-10 pb-10" style="background-color: grey; border-radius:8px;">
        <div class="row ">
            <div class="highlight-clean" style="min-height:500px;">
        <div class="container mt-5 pt-5">
            <div class="intro">
                <h2 class="text-center">Fetchme A Band</h2>
                <p class="text-center">Laborum amet veniam id nostrud incididunt id sit. Tempor deserunt sit veniam officia do proident. Voluptate incididunt minim Lorem sit amet tempor. Qui in nostrud aute elit. Elit dolor enim ut elit.

Sunt aliqua do amet velit eiusmod ipsum qui commodo ipsum proident reprehenderit anim laboris. Ullamco id ipsum labore pariatur id nisi dolore quis. Nulla eiusmod sint ea cupidatat anim aliquip laborum nisi veniam irure velit quis sint sint. Eu laborum proident et voluptate incididunt duis velit mollit minim dolor tempor magna dolor.

Esse anim qui ut dolore sit aute duis ipsum duis sint. Ex ipsum magna voluptate veniam amet aliqua ea pariatur incididunt labore nisi. Veniam adipisicing et proident aliqua sunt excepteur laboris culpa commodo magna est ullamco anim tempor. Irure aliqua ut excepteur proident esse veniam magna amet elit fugiat. Mollit nulla tempor non anim in ipsum occaecat labore esse velit aute mollit qui occaecat. Occaecat enim veniam irure elit consectetur voluptate ullamco ex eu id do pariatur commodo. Elit minim tempor enim culpa incididunt et sunt laboris sint culpa adipisicing.

Sunt culpa irure enim ad enim labore proident deserunt aliqua eu est elit enim. Deserunt minim ad commodo magna ea anim irure proident velit. Nisi sint ad sit voluptate sit velit. Mollit exercitation nulla voluptate culpa eiusmod qui reprehenderit adipisicing.

Officia sit laboris dolor nisi elit laboris fugiat ullamco ipsum dolore. Deserunt nostrud esse velit adipisicing nostrud deserunt cillum sunt sint do commodo et ex cupidatat. Cillum ad pariatur amet labore id. Consectetur aute enim ea mollit. Culpa fugiat voluptate nulla anim exercitation ipsum in. Minim cupidatat et laboris voluptate fugiat reprehenderit ea aliquip in sunt eiusmod nostrud dolor cupidatat.Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="buttons align-items-center"><a class="btn btn-primary" role="button" href="#">Primary</a><button class="btn btn-light" type="button">Secondary</button></div>
        </div>
    </div>
        </div>
        <div class="row mb-5 pb-5">
            <div class="col-md-4">
                <div class="card">
                <img class="card-img-top w-100 d-block" />
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"><img class="card-img-top w-100 d-block" />
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"><img class="card-img-top w-100 d-block" />
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
 