

<main class="main minh-100vh">
  <!-- Section -->
  <section class="py-0 overflow-hidden text-center">
    <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background: url(<%= asset_path 'custom.jpg' %>)"></div>
    <div class="container">
      <div class="row h-100vh align-items-center">
        <div class="col">
          <h1 class="text-white text-uppercase fs-4 fs-lg-6" data-aos="zoom-in" data-aos-duration="1000">Fetch me a Band</h1>
           <p class="mb-5 fs-0 fs-lg-1 text-white" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">Réseau social pour les artistes</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center">
          <h3 class="my-0 fs-1 fw-medium text-secondary text-uppercase">Fetch Me a Band</h3>
          <h2 class="mb-5 fw-medium text-primary text-uppercase">A quoi ça sert ?</h2>
        </div>
      </div>
      <div class="card-deck d-block d-lg-flex">
        <div class="card mb-3">
          <div class="card-body"><center><i class="fas fa-id-badge fa-5x"></i></center><br>
            <h2 class="mb-4 fs-1 fw-medium text-primary text-uppercase text-center">Entrez en contact</h2>
            <p class="fs--1 text-center">Contactez les artistes autour de vous en un clic.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body"><center><i class="fas fa-calendar-week fa-5x"></i></center><br>
            <h2 class="mb-4 fs-1 fw-medium text-primary text-uppercase text-center">Créez des évènements</h2>
            <p class="fs--1 text-center">Partagez vos évènements avec la communauté.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body"><center><i class="fas fa-comments fa-5x"></i></center><br>
            <h2 class="mb-4 fs-1 fw-medium text-primary text-uppercase text-center">Forum</h2>
            <p class="fs--1 text-center">Alimentez et créez des sujets de conversation.</p>
          </div>
        </div>
      </div>
      <% if current_user == nil %>
      <div class="card-deck d-block d-lg-flex">
        <div class="card">
          <div class="card-body"><center><i class="fab fa-itunes-note fa-7x"></i></center><br>
            <h2 class="mb-4 fs-1 fw-medium text-primary text-uppercase text-center"><%= link_to 'Inscrivez-vous', new_user_registration_path %></h2>
            <p class="fs--1 text-center">N'attendez plus, c'est gratuit !</p>
          </div>
        </div>
      </div>
      <% else %>
      <% nil %>
      <% end %>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center">
          <h3 class="my-0 fs-1 fw-medium text-secondary text-uppercase">Les evenements</h3>
          <h2 class="mb-5 fw-medium text-primary text-uppercase">de notre communauté</h2>
        </div>
      </div>
      
    </div>
  </section>
</main>
