<%= render 'layouts/carrousel2'%>
    <div>
    <br>
    <div class="container  mt-10 mb-15 pt-10 pb-10" style="background-color: grey; border-radius:8px;">
        <div class="row ">
            <div class="highlight-clean" style="min-height:500px;">
        <div class="container mt-5 pt-5">
            <div class="intro">
                <h2 class="text-center">Fetchme A Band</h2>
                <p class="text-center">
                <strong ><em>On ne le dira jamais assez</em></strong></p>
                <p class="text-center">
                <em>"Jouer de la musique seul c'est bien, mais faire de la musique à plusieurs c'est mieux"</em>
                </p>
                <p>Nous vous mettons en contact avec les personnes qui aiment la musique comme vous :<br></p>
                <p>Nous vous donnons les moyens de vous exprimer et de communiquer à propos de ce qui compte pour vous :</p>
                <p>Nous vous aidons à découvrir du contenu et des services qui pourraient vous intéresser</p>
                <p>Nous recherchons comment améliorer nos services pour cela notre mail <%=mail_to"fetchmeaband@gmail.com"%> est la pour cela</p>
                <p>Nous vous aidons à trouver et à contacter les personnes, les groupes, et autres qui seraient succeptibles de jouer avec vous sur l’ensemble du territoire.<br>
                Les vraies communautés sont fondées sur des liens forts et nous pensons que nos services vous seront utiles <br>
                - Publiez vos evenements (concert, lieu de rassemblement musicaux, bar souhaitant avoir une animation musicale)<br>
                - Envoyez des messages instantanes aux membres de la communaute<br>
                - Participez au Forum de discussion qui vous interesse<br>
                </p>
                <p><em>"Nous n'utilisons les données dont nous disposons que dans le cadre d'une eventuelle newsletter hebdomadaire: par exemple des groupes à rejoindre, des évènements auxquels participer.(Si vous ne souhaitez pas recevoir de newsletter faites le nous savoir)"</em></p>
            </div>
            <div class="buttons align-items-center"><a class="btn btn-primary" role="button" href="#">Primary</a><button class="btn btn-light" type="button">Secondary</button></div>
        </div>
    </div>
        </div>
        <div class="row mb-5 pb-5">
            <div class="col-md-4">
                <div class="card">
                <img class="card-img-top w-100 d-block" />
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"><img class="card-img-top w-100 d-block" />
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"><img class="card-img-top w-100 d-block" />
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
 