<div class="container-fluid" style="background-color:#000; min-height:500px;">
<div class="title-heading1 mb60">
                <h2 style="color:#fff; text-align:center; padding-top:20px;">Our Team</h2>
            </div>
            <div class="row pb60 pt70">
                <div class="col-lg-3 col-md-6  mb30">
                    <div class="team-card-default">
                        <%=image_tag("JB.png", :class=>"img-responsive", :alt=>"", :class=>"img-fluid rounded-circle")%>
                        <div class="team-default-content text-center pt30">
                                <h4 class="mb0 text-uppercase" style="color:#fff">JB Demenet</h4>
                                <span style="color:#fff">Ruby On Rails</span>                                
                                <ul class="list-inline pt10">
                                    <li class="list-inline-item">
                                        <i class="fa fa-facebook" style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-twitter"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                         <i class="fa fa-slack"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-instagram"style="color:#fff"></i>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-lg-3 col-md-6  mb30">
                    <div class="team-card-default">
                        <%=image_tag("JAB.png", :class=>"img-responsive", :alt=>"", :class=>"img-fluid rounded-circle")%>
                        <div class="team-default-content text-center pt30">
                                <h4 class="mb0 text-uppercase" style="color:#fff">J Banchereau</h4>
                                <span style="color:#fff">Ruby On Rails</span>                                
                                <ul class="list-inline pt10">
                                    <li class="list-inline-item">
                                        <i class="fa fa-facebook" style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-twitter"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                         <i class="fa fa-slack"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-instagram"style="color:#fff"></i>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div><!--/col-->
                  <div class="col-lg-3 col-md-6  mb30">
                    <div class="team-card-default">
                        <%=image_tag("NF.png", :class=>"img-responsive", :alt=>"", :class=>"img-fluid rounded-circle")%>
                        <div class="team-default-content text-center pt30">
                                <h4 class="mb0 text-uppercase" style="color:#fff">N Farshad</h4>
                                <span style="color:#fff">Ruby On Rails</span>                                
                                <ul class="list-inline pt10">
                                    <li class="list-inline-item">
                                        <i class="fa fa-facebook" style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-twitter"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                         <i class="fa fa-slack"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-instagram"style="color:#fff"></i>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div><!--/col-->
                  <div class="col-lg-3 col-md-6  mb30">
                    <div class="team-card-default">
                        <%=image_tag("JM.png", :class=>"img-responsive", :alt=>"", :class=>"img-fluid rounded-circle")%>
                        <div class="team-default-content text-center pt30">
                                <h4 class="mb0 text-uppercase" style="color:#fff">JM Dardy</h4>
                                <span style="color:#fff">Ruby On Rails</span>                                
                                <ul class="list-inline pt10">
                                    <li class="list-inline-item">
                                        <i class="fa fa-facebook" style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-twitter"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                         <i class="fa fa-slack"style="color:#fff"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-instagram"style="color:#fff"></i>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div><!--/col-->
            </div>
       </div>
</div>