<<<<<<< HEAD
        # <footer class="footer footer-standard pt50 pb20">
        #     <div class="container">
        #         <div class="row">
        #             <div class="col-lg-4 col-md-6 mb40">
        #                 <h3>About Us</h3>
        #                 <p>
        #                     In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.
        #                 </p>
        #                 <a href="#" class="btn btn-white-outline btn-sm">Learn More</a>
        #             </div>
        #             <div class="col-lg-2 col-md-6 mb40">
        #                 <h3>Quick links</h3>
        #                 <ul class="list-unstyled footer-list-item">
        #                     <li>
        #                         <a href="#">
        #                             About
        #                         </a>
        #                     </li>
        #                     <li>
        #                         <a href="#">
        #                             News
        #                         </a>
        #                     </li>
        #                     <li>
        #                         <a href="#">
        #                             FAQS
        #                         </a>
        #                     </li>
        #                     <li>
        #                         <a href="#">
        #                             Contact
        #                         </a>
        #                     </li>
        #                     <li>
        #                         <a href="#">
        #                             Term & conditions
        #                         </a>
        #                     </li>
        #                     <li>
        #                         <a href="#">
        #                             Privacy & policy
        #                         </a>
        #                     </li>
        #                 </ul>
        #             </div>
        #             <div class="col-lg-3 col-md-6 mb40">
        #                 <h3>Latest News</h3>
        #                 <ul class="list-unstyled latest-news">
        #                     <li class="media">
        #                         <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="images/img1.jpg" alt="Generic placeholder image"></a>
        #                         <div class="media-body">
        #                             <h5 class="mt-0 mb-1"><a href="#">Beautiful Sofa lamp at low price</a></h5>
        #                             April 05, 2017
        #                         </div>
        #                     </li>
        #                     <li class="media my-3">
        #                         <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="images/img2.jpg" alt="Generic placeholder image"></a>
        #                         <div class="media-body">
        #                             <h5 class="mt-0 mb-1"><a href="#">Lorem ipsum dolor sit amet</a></h5>
        #                             Jan 05, 2017
        #                         </div>
        #                     </li>
        #                     <li class="media">
        #                         <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="images/img5.jpg" alt="Generic placeholder image"></a>
        #                         <div class="media-body">
        #                             <h5 class="mt-0 mb-1"><a href="#">New awesome features of bootstrap 4</a></h5>
        #                             March 15, 2017
        #                         </div>
        #                     </li>
        #                 </ul>
        #             </div>
        #             <div class="col-lg-3 col-md-6 mb40">
        #                 <h3>Headquarters</h3>
        #                 <img src="images/map-img.png" alt="" class="img-fluid">
        #             </div>
        #         </div>
        #     </div>
        # </footer><!--/footer-->
        # <div class="footer-bottomAlt">
        #     <div class="container">
        #         <div class="row">
        #             <div class="col-lg-7">
        #                 <div class="clearfix">
        #                     <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
        #                         <i class="fa fa-facebook"></i>
        #                         <i class="fa fa-facebook"></i>
        #                     </a>
        #                     <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
        #                         <i class="fa fa-twitter"></i>
        #                         <i class="fa fa-twitter"></i>
        #                     </a>
        #                     <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
        #                         <i class="fa fa-google-plus"></i>
        #                         <i class="fa fa-google-plus"></i>
        #                     </a>
        #                     <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
        #                         <i class="fa fa-skype"></i>
        #                         <i class="fa fa-skype"></i>
        #                     </a>
        #                     <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
        #                         <i class="fa fa-linkedin"></i>
        #                         <i class="fa fa-linkedin"></i>
        #                     </a>  
        #                 </div>
        #             </div>
        #             <div class="col-lg-5">
        #                 <span>&copy; Copyright 2018. All Right Reserved</span>
        #             </div>
        #         </div>
        #     </div>
        # </div>

        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
   <div class="container text-center">
     <small>Copyright &copy; Your Website</small>
   </div>
</footer>
<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">
 <!-- Footer Links -->
 <div class="container text-center text-md-left">
   <!-- Grid row -->
   <div class="row">
     <!-- Grid column -->
     <div class="col-md-4 mx-auto">
       <!-- Content -->
       <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
       <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
         consectetur
         adipisicing elit.</p>
     </div>
     <!-- Grid column -->
     <hr class="clearfix w-100 d-md-none">
     <!-- Grid column -->
     <div class="col-md-2 mx-auto">
       <!-- Links -->
       <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
       <ul class="list-unstyled">
         <li>
           <a href="#!">Link 1</a>
         </li>
         <li>
           <a href="#!">Link 2</a>
         </li>
         <li>
           <a href="#!">Link 3</a>
         </li>
         <li>
           <a href="#!">Link 4</a>
         </li>
       </ul>
     </div>
     <!-- Grid column -->
     <hr class="clearfix w-100 d-md-none">
     <!-- Grid column -->
     <div class="col-md-2 mx-auto">
       <!-- Links -->
       <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
       <ul class="list-unstyled">
         <li>
           <a href="#!">Link 1</a>
         </li>
         <li>
           <a href="#!">Link 2</a>
         </li>
         <li>
           <a href="#!">Link 3</a>
         </li>
         <li>
           <a href="#!">Link 4</a>
         </li>
       </ul>
     </div>
     <!-- Grid column -->
     <hr class="clearfix w-100 d-md-none">
     <!-- Grid column -->
     <div class="col-md-2 mx-auto">
       <!-- Links -->
       <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
       <ul class="list-unstyled">
         <li>
           <a href="#!">Link 1</a>
         </li>
         <li>
           <a href="#!">Link 2</a>
         </li>
         <li>
           <a href="#!">Link 3</a>
         </li>
         <li>
           <a href="#!">Link 4</a>
         </li>
       </ul>
     </div>
     <!-- Grid column -->
   </div>
   <!-- Grid row -->
 </div>
 <!-- Footer Links -->
 <!-- Social buttons -->
 <ul class="list-unstyled list-inline text-center">
   <li class="list-inline-item">
     <a class="btn-floating btn-social-icon btn-facebook mx-1">
       <i class="fab fa-facebook-f"> </i>
     </a>
   </li>
   <li class="list-inline-item">
     <a class="btn-floating btn-social-icon btn-twitter mx-1">
       <i class="fab fa-twitter"> </i>
     </a>
   </li>
   <li class="list-inline-item">
     <a class="btn-floating btn-social-icon btn-slack mx-1">
       <i class="fab fa-slack"> </i>
     </a>
   </li>
   <li class="list-inline-item">
     <a class="btn-floating btn-social-icon btn-linkedin mx-1">
       <i class="fab fa-linkedin"> </i>
     </a>
10 h 41
</li>
   <li class="list-inline-item">
     <a class="btn-floating btn-dribbble mx-1">
       <i class="fab fa-dribbble"> </i>
     </a>
   </li>
 </ul>
 <!-- Social buttons -->
 <!-- Copyright -->
 <div class="footer-copyright text-center py-3">© 2019 Copyright:
   <%=link_to"FectMeABand", "https://fetchmeaband-pro.herokuapp.com"%>
 </div>
 <!-- Copyright -->
</footer>
<!-- Footer -->
=======
<footer class="footer footer-dark pt50 pb30 mb0">
        <div class="container">
                <div class="row">
                    <div class="col-lg-6  ml-auto mr-auto text-center">
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>Facebook
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>twitter
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>instagram
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-slack"></i>Slack
                                </a>
                            </li>
                        </ul>
                        <h4><i class="fa fa-phone"></i> +33 6 30 11 11 11</h4>
                        <h4><i class="fa fa-envelope"></i> fetchmeaband@gmail.com</h4>
                        <p style="color:#a6a6a6">© Copyright 2019. FetchMeABand</p>
                    </div>
                </div>
        </div>
</footer>
>>>>>>> e03ca5244233e029ce6e77c3dc28ce14b1b6851e
