<footer class="footer footer-dark pt50 pb30 mb0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  ml-auto mr-auto text-center">
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>Facebook
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>twitter
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>instagram
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-slack"></i>Slack
                                </a>
                            </li>
                        </ul>
                        <h4><i class="fa fa-phone"></i> +33 6 30 11 11 11</h4>
                        <h4><i class="fa fa-envelope"></i> fetchmeaband@gmail.com</h4>
                        <p>© Copyright 2019. FetchMeABand</p>
                    </div>
                </div>
            </div>
        </footer>