


<footer class="footer text-white">
    <div class="container d-flex h-100">
       <div class="col d-flex flex-column mb-2 mt-3 pl-lg-7">
         <h6 class="mb-1 mb-lg-4 text-uppercase">Services</h6>
            <ul class="pt-2 mb-5 fw-light list-unstyled">
                <li class="my-1">
                    <%= link_to "Accueil", root_path, class:"text-white"%>
                </li>
                <li class="my-1">
                    <%= link_to "Profils", users_path, class:"text-white"%>
                </li>
                <li class="my-1">
                    <%= link_to "Équipe", team_path, class:"text-white"%>
                </li>
                <li class="my-1">
                    <%=link_to "Forum", forums_path, class:"text-white" %>
                </li>
            </ul>
        </div>
    </div>
</footer>